*{
	box-sizing: border-box;
}

 @font-face { 
    font-family: starJedi; 
    src: url('../fonts/starjedi.ttf');
} 

 @font-face { 
    font-family: serifgothiclight; 
    src: url('../fonts/serifgothiclight.otf');
} 

body{
	margin: 0 auto;
  padding: 0 auto;
	min-width: 500px;
  width: 100%;
  background-image: url('../images/background-image.jpg');
  background-repeat: repeat repeat;
}

.col-1 {width: 25%;}
.col-2 {width: 33.3%;}
.col-3 {width: 50%;}
.col-4 {width: 75%;}
.col-5 {width: 100%;}

[class*="col-"] {
    float: left;
}

.header-standard{
  top: 0px;
  background-color: black;
  width: 100%;
  height: 60px;
  text-align: left;
  display: inline-block;
}

#menicon{
  visibility: hidden;
  /*padding-top: 1%;
  padding-left: 1%;*/
}

#dropdownMeni li :active, :link, :visited{
  color: white;
}
#dropdownMeni li :hover
{
  color: grey;
  font-family: serifgothiclight;
  font-size: 15px;
}

#meni li{
    display: inline-block;
    padding-right: 10px;
    font-family: starJedi;
    height: 60px;
  }

#meni li :hover, .artical-main h1:hover{
  text-decoration: underline;
  color: white;  
}

#meni li :visited, :active, :link{
  text-decoration: none;
  color: white;  
}

.artical-main h1 :visited, :active, :link{
  text-decoration: none;
  color: white;
}

.forma-login, .forma-register {
  flex: 1;
  position: absolute;
  top: 8%;
  bottom: 0;   
  left: 0;
  right: 0;
  margin: auto;
  background-size: 100% 110%;
  background-image: url('../images/background-vader.png');
  background-repeat: no-repeat;
}

.forma-contact{
  flex: 1;
  position: absolute;
  top: 8%;
  bottom: 0;   
  left: 0;
  right: 0;
  margin: auto;
  background-size: 100% 100%;
  background-image: url('../images/background-final.jpg');
  background-repeat: no-repeat;
}

.forma-login form, .forma-contact form, .forma-register form{
  padding-top: 9%;
  text-align: center;
  margin: 0 auto;
}

.forma-login input, .forma-contact input, .forma-register input{
  width: 300px;
  height: 40px;
}

.forma-contact textarea{
  width: 300px;
  height: 70px;
}

.forma-login li, .forma-contact li, .forma-register li{
  padding-right: 55px;
}

#submit-button-li{
  padding-top: 5px;
}

#warningMessage{
    padding: 0;
    margin: 0;
    color: white;
    font-family:serifgothiclight;
}

#submit-button{
  text-align: center;
  background-color:#ccccdd;
  font-family: starJedi;
  font-size: 15px;
  width: 150px;
}

@media only screen and (max-width:600px){
#submit-button{
  width:50%;
  }
}

#submit-button:hover{
  background-color: #bbbbee;
}

#home-link{
  font-size: 20px;
  padding-right: 15px;
  margin-left: -70px;
}

.artical-main{
  padding-left: 250px;
  z-index: 3;
  font-family: starJedi;
  color: white;
  padding-right: 250px;
  background-image: url('../images/background-image.jpg');
  margin-top:-25px;
  padding-bottom: 30px;
}

#index-image{
  text-align: center;
  max-width: 80%;
  height: auto;
  display: block;
  padding-left: 10%;
}

@media (max-width:767px){
#index-image { max-width:200px; }
}

.artical-main h1{
  font-size: 25px;
  /*margin-left: -50px;*/
  padding-top: 20px;
}

.about-us h1{
  text-align: center;
  font-family: starJedi;
}

/*#about-image {
  max-width: 30%;
  margin-left: 35%;
}*/

.about-us .col-2 img{
  max-width: 98%;
  padding-right: 2%;
}


.shop-article h2, .planet-article h2, .sith-article h2, .jedi-article h2{
  font-size: 18px;
  text-align: center;
  font-family: starJedi;
}

.shop-article, .planet-article, .sith-article, .jedi-article{
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.about-us{
    color: white;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.shop-article p, .planet-article p, .artical-main p, .sith-article p, .jedi-article p, .about-us p{
  font-family: serifgothiclight;
  background-color: black;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

/*@media only screen and (max-width: 1000px) {
    .shop-article {
      padding-left: 20px;
      width: 100%;
    }
}*/

#shop-image, #planet-image, #sith-image, #jedi-image{
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  height: auto;
  display: block;
}
#shop-image{
  border-width: 5px;
  border-style: outset;
  border-color: #808080;
}
#shop-image:hover{
    opacity: 0.7;
}

.shop-article h4{
  text-align: center;
  vertical-align: middle;
  margin-top: -10px;
}

#kupi-button{
  text-align: center;
  width: 250px;
  font-family: starJedi;
  height: 40;
}

#kupi-button-li{
  text-align: center;
  padding-right: 12%;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:black;
  font-family: starJedi;
}
.footer-dark p{
  text-align: center;
}


  /*kada je velicina ekrana 600px i manje, postoji samo jedna kolona*/
@media only screen and (min-width: 300px) and (max-width: 600px) {
  [class*="col-"]{ width:90%; float:left; }
}

@media only screen and (min-width:800px) and (max-width: 1000px) {
  .col-1 {width: 45%;}
  .col-2 {width: 50%;}
  .col-3 {width: 70%;}
  .col-4 {width: 100%;}
  .col-5 {width: 100%;}

  [class*="col-"] { float: left; }
  .header-standard{
    visibility: hidden;
  }

  #menicon{
    visibility: visible;
  }
  #meni{
    visibility: hidden;
  }

}

@media only screen and (min-width:601px) and (max-width: 878px) {
  .col-1 {width: 45%;}
  .col-2 {width: 50%;}
  .col-3 {width: 70%;}
  .col-4 {width: 100%;}
  .col-5 {width: 100%;}

  [class*="col-"] { float: left; }
  .header-standard{
    visibility: hidden;
  }

  #menicon{
    visibility: visible;
  }
  #meni{
    visibility: hidden;
  }
  .col-2{
    margin-top: -50px;
  }
}


