*{
	box-sizing: border-box;
}

 @font-face { 
    font-family: starJedi; 
    src: url('../fonts/starjedi.ttf')
} 

body{
	margin: 0 auto;
	min-width: 500px;
  max-width: 100%;
}

.header-dark {
  display: inline-block;
	float:left;
	min-height: 1px;
  max-height: 300px;
  max-width: inherit;
  padding-bottom: 200px;
  background-size: 45%; 
  margin-top:-30px;
  background-image: url('../images/header_image.jpg');
  opacity: 0.9;
}

#meni{
  padding-top:40px;
  font-size:16px;
  margin-left: 750px;
  text-decoration: none;
}

#meni li{
  display: inline-block;
  font-family: starJedi;
}

#meni li :hover{
  text-decoration: underline;
  color: white;  
  
}

#meni li :visited, :active, :link{
  text-decoration: none;
  color: white;  
}